/*Gris Oscuro Títulos : #424242
Gris Claro fecha: #5f6368
Gris Texto : #414549
Azul : #4285f4
h3, h1: Product Sans;
p: Roboto;
h1: 2.5rem;
h3: 1.25rem;
*/


[class*="col-"]{
	min-height: 7px;
}

@function anchoColumnas($columns){
	@return percentage(($columns/12));
}

@for $numColumna from 1 through 12{
	.col-#{$numColumna}/*se interpolan, como concatenar*/{  
		width: anchoColumnas($numColumna);
	}
}

$texto-mediano: 1.2rem;
$texto-normal: 14px;
$tamaño-titulos: 24px;
$fuente-titulos: 'Product Sans';
$fuente-p: 'Roboto', sans-serif;
$img-largo-l: 500px;
$img-largo-m: 350px;
$img-largo-s: 250px;
$img-largo-xs: 25px;
$img-ancho-full: 100%;
$linea: 34px;
$linea-parrafo: 24px;
$gris-texto: #414549;
$gris-fecha: #5f6368;
$gris-titulos: #424242;
$azul: #4285f4;
$espacio-subtitulos: .28px;

*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	a{
		font-family: $fuente-p;
	}
}

#titulo1, .subtitulo{
	font-family: $fuente-titulos;
	line-height: $linea;
	color: $gris-titulos;
	letter-spacing: $espacio-subtitulos;
	font-size: $tamaño-titulos;
	font-weight: 400;
	font-style: normal;
}

#menu{
	text-align: center;
	padding: 50px;
	.menu{
		color: $gris-titulos;
		font-size: .875rem;
		padding: 1.685rem;
	}
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
	font-family: $fuente-p;
	color: $gris-texto;
}
#busqueda{
	position: relative;
	left: 400px;
	top: -20px;
}
.txtMd{
	font-size: $texto-mediano;
	line-height: $linea-parrafo;
	font-family: $fuente-p;
	color: $gris-texto;
}
.topTxt{
	position: relative;
	bottom: 340px;
}
.middleTxt{
	position: relative;
	bottom: 230px;
}
.txtNrml{
	font-family: $fuente-p;
	line-height: $linea-parrafo;
	color: $gris-texto;
	font-weight: 400;
}
#podcast{
	width: 90%;
	height: vh;
	margin: 5%;
}
.imgDescription{
	width: 100%;
	height: $img-largo-m;
}
.description{
	display: inline-grid;
	font-size: 16px;
	padding: 30px;
}
.imgXs{
	width: 4%;
	height: $img-largo-xs;
}
.collection{
	width: 100%;
	height: $img-largo-s;
}
hr{
	color: blue;
	border: 2px solid $azul;
}
.row{
	font-size: 0;
}
#lastLogo{
	width: 3%;
	height: 35px;
}
.fecha{
	color: $gris-fecha;
	font-size: 16px;
	font-weight: 400;
}
p{
	font-family: $fuente-p;
	color: $gris-titulos;
}
#sombreado{
	background: #f1f3f4;
	#azul{
		color: #4285f4;
		font-family: $fuente-p;
	}
	p{
		color: $gris-titulos;
		font-family: $fuente-titulos;
	}
	img{
		position: relative;
		left: 200px;
	}
}
.medium{
	color: $gris-fecha;
}