/*Gris Oscuro Títulos : #424242
Gris Claro fecha: #5f6368
Gris Texto : #414549
Azul : #4285f4*/

*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
[class*="col-"]{
	min-height: 7px;
}

@function anchoColumnas($columns){
	@return percentage(($columns/12));
}

@for $numColumna from 1 through 12{
	.col-#{$numColumna}/*se interpolan, como concatenar*/{  
		width: anchoColumnas($numColumna);
	}
}

#podcast{
	width: 90%;
	height: 500px;
	margin: 5%;
}
.imgDescription{
	width: 100%;
	height: 450px;
}
#newDesignDescription{
	display: inline-grid;
}
.description{
	display: inline-grid;
	font-size: 16px;
	padding: 10px;
}
#redirection, #miniAsana, #miniConor, #miniGd{
	width: 3%;
	height: 20px;
}
.collection{
	width: 100%;
	height: 250px;
}
hr{
	color: blue;
}
.row{
	font-size: 0;
}
#lastLogo{
	width: 3%;
	height: 35px;
}
