/*Gris Oscuro Títulos : #424242
Gris Claro fecha: #5f6368
Gris Texto : #414549
Azul : #4285f4
h3, h1: Product Sans;
p: Roboto;
h1: 2.5rem;
h3: 1.25rem;
*/

*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
[class*="col-"]{
	min-height: 7px;
}

@function anchoColumnas($columns){
	@return percentage(($columns/12));
}

@for $numColumna from 1 through 12{
	.col-#{$numColumna}/*se interpolan, como concatenar*/{  
		width: anchoColumnas($numColumna);
	}
}

$texto-mediano: 1.2rem;
$texto-normal: 14px;

nav{
	text-align: center;
	padding: 50px;
}
a{
	text-decoration: none;
}
#busqueda{
	position: relative;
	left: 400px;
	top: -20px;
}
.txtMd{
	font-size: $texto-mediano;
}
.topTxt{
	position: relative;
	bottom: 340px;
}
.middleTxt{
	position: relative;
	bottom: 230px;
}
#podcast{
	width: 90%;
	height: 500px;
	margin: 5%;
}
.imgDescription{
	width: 100%;
	height: 350px;
}
.description{
	display: inline-grid;
	font-size: 16px;
	padding: 30px;
}
.imgXs{
	width: 4%;
	height: 25px;
}
.collection{
	width: 100%;
	height: 250px;
}
hr{
	color: blue;
	border: 2px solid blue;
}
.row{
	font-size: 0;
}
#lastLogo{
	width: 3%;
	height: 35px;
}
